
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0 m-0 sidebar">
        {{>sidebar-admin}}
        </div>
        <div class="col-md-8 m-5">
{{#each products}}
        <div class="row">
            <div class="col-sm-2"><img src="{{this.imagePath}}" height="40px"></div>
            <div class="col-sm-3">
                {{this.title}}
            </div>
            <div class="col-sm-3">
                Aantal besteld: <span class="badge badge-info">0</span>
            </div>
            <div class="col-sm-2">
                <strong>€{{this.price}}</strong>
            </div>
            <div class="col-sm-2">
                            <a href="/edit/{{this._id}}" class="btn btn-dark d-inline" role="button"><img src="../img/icons/assort.png" class="pr-2" height="20px">Bekijken</a>
            </div>
        </div>
        <hr>
        {{/each}}
    </div>
</div>
</div>
