
{{!--{{>header-admin}}--}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0 m-0 sidebar">
        {{>sidebar-admin}}
        </div>
            <div class="col-md-10 text-light" id="dash">
               <div class="row">
                   <div class="col-md-4 dashbox p-0">
                       <h3 class=" text-center d-block">Bezoekers totaal</h3>
                       <hr>
                        <p>Deze maand:<span class="badge badge-info"> {{totalItems}}</span><br>
                        Deze week: <span class="badge badge-info">{{totalUsers}}</span><br>
                        vandaag: <span class="badge badge-info">3</span></p>
                   </div>
                   <div class="col-md-4 dashbox p-0">
                       <h3 class=" text-center d-block">Bezoekers totaal</h3>
                       <hr>
                        <p>Deze maand:<span class="badge badge-info"> 21</span><br>
                        Deze week: <span class="badge badge-info">13</span><br>
                        vandaag: <span class="badge badge-info">3</span></p>
                   </div>
                   <div class="col-md-4 dashbox p-0">
                       <h3 class=" text-center d-block">Bezoekers totaal</h3>
                       <hr>
                        <p>Deze maand:<span class="badge badge-info"> 21</span><br>
                        Deze week: <span class="badge badge-info">13</span><br>
                        vandaag: <span class="badge badge-info">3</span></p>
                   </div>
               </div> 
                <div class="row">
                  <div class="col-md-4 dashbox p-0">
                       <h3 class=" text-center d-block">Bezoekers totaal</h3>
                       <hr>
                        <p>Deze maand:<span class="badge badge-info"> 21</span><br>
                        Deze week: <span class="badge badge-info">13</span><br>
                        vandaag: <span class="badge badge-info">3</span></p>
                   </div>
                   <div class="col-md-4 dashbox p-0">
                       <h3 class=" text-center d-block">Bezoekers totaal</h3>
                       <hr>
                        <p>Deze maand:<span class="badge badge-info"> 21</span><br>
                        Deze week: <span class="badge badge-info">13</span><br>
                        vandaag: <span class="badge badge-info">3</span></p>
                   </div>
                   <div class="col-md-4 dashbox p-0">
                       <h3 class=" text-center d-block">Bezoekers totaal</h3>
                       <hr>
                        <p>Deze maand:<span class="badge badge-info"> 21</span><br>
                        Deze week: <span class="badge badge-info">13</span><br>
                        vandaag: <span class="badge badge-info">3</span></p>
                   </div>
               </div> 
                <div class="row">
                   <div class="col-md-4 dashbox"></div>
                   <div class="col-md-4 dashbox"></div>
                   <div class="col-md-4 dashbox"></div>
               </div> 
            </div>
    
    
</div>
</div>
