
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand nav-links" href="/">BRAND</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav  ml-auto">
                <li class="mx-auto">
                    
                   
                    <a class="mx-4 nav-links px-2" href="/shopping-cart/">
                         Sneakers
                    </a>
                    <a class="mx-4 nav-links px-2" href="/shopping-cart/">
                         Brands
                    </a>
                    <a class="mx-4 nav-links px-2" href="/shopping-cart/">
                         Sale
                    </a>     
                    <a class="mx-4 nav-links px-2 " href="/shopping-cart/">
                         Over ons
                    </a>
                    <a href="/shopping-cart/"  class="hideOnScroll nav-links px-5">
                      <img src="../img/icons/basket.png" width="30px">  Winkelwagen
                        <span class="badge badge-info ">{{session.cart.totalQty}}</span>
                    </a>
                    {{!-- <a class="mx-4 nav-links px-2 hideOnScroll" href="/shopping-cart/">--}}
                    {{!--    <img src="../img/icons/Untitled.png" width="35px">--}}
                    {{!--</a>--}}
                    
                </li>
                        {{# if login }}
                            <a class="hideOnScroll nav-links px-3" href="/user/logout"> <img src="../img/icons/signin.png" width="27px"> Logout</a>
                        {{# if admin }}
                            <span class="badge badge-success p-2">Admin</span>
                            <a class="hideOnScroll nav-links px-3" href="/dashboard"><img src="../img/icons/dash.png" width="30px"> Dashboard</a>
                        {{else}}
                            <a class="hideOnScroll nav-links px-3" href="/user/profile"><img src="../img/icons/user.png" width="30px">Account</a>
                        {{/if}}
                        {{ else }}
                            <a class="hideOnScroll nav-links px-3" href="/user/signin"><img src="../img/icons/signout.png" width="30px"> Login</a>
                        {{/if}}


            </ul>
  </div>
</nav>