<div class="container p-0" id="sidebar">
    <div class="brand p-0 text-center">
        <a href="/">
            <img src="../img/brand.png" class=" my-3 p-2">
        </a>
    </div>
    <div class="search">
        <div class="row">
            <div class="col-2">
                <img src="../img/search.png" class="float-left p-1 ml-2">
            </div>
            <div class="col-10">
                <input type="text" placeholder="Search...">
            </div>
        </div>
    </div>
        <a href="/">
            <div class="link">
                    <img src="../img/populair.png" class="p-2 ml-2"> <span>Home</span>
            </div>
        </a>
        <a href="/sizes">
            <div class="link">
                    <img src="../img/size.png" class="p-2 ml-2"> <span>Sizes</span>
            </div>
        </a>
        <a href="/brands">
            <div class="link">
                <img src="../img/brands.png" class="p-2 ml-2"> <span>Brands</span>
            </div>
        </a>
        <a href="/refresh">
            <div class="link">
                    <img src="../img/devices.png" class="p-2 ml-2"> <span>Refresh Data</span>
            </div>
        </a>
        <a href="/new">
            <div class="link">
                    <img src="../img/new.png" class="p-2 ml-2"><span>About</span>
            </div>
        </a>
</div>