<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <ul class="list-unstyled components ">
              <li class="admin-brand" >
                  <h2 class="p-3 text-center">BRAND</h2>
                </li>
                <li class="admin-user" >
                    <div class="row p-3">
                        <div class="col-sm-4">
                            <img src="../../img/icons/user.png" class="img-fluid mt-2 ml-3">
                        </div>
                        <div class="col-sm-6">
                            <h6><strong class="d-inline">{{users.name}}</strong></h6><span class="badge badge-success d-inline">ADMIN</span>
                        </div>
                    </div>
                    <hr>
                </li>
                <li class="mt-2 ">
                        <a href="/dashboard/" class=""><img src="../../img/icons/home.png" height="20px"> Dashboard</a>
                    </li>
                    <li class="">
                        <a href="/dashboard/add" class=""><img src="../../img/icons/add.png" height="20px"> Artikelen toevoegen</a>
                    </li>
                      <li>
                        <a href="/dashboard/editdel"><img src="../../img/icons/edit.png" height="20px">Artikelen bijwerken</a>
                    </li>
                      <li >
                        <a href="/dashboard/editdel"><img src="../../img/icons/DELETE.png" height="20px"> Artikelen verwijderen</a>
                    </li>
                    <li>
                        <a href="/dashboard/assortiment"><img src="../../img/icons/assort.png" height="20px"> Assortiment</a>
                    </li>
                     <li>
                        <a href="/dashboard/design-aanpassen"><img src="../../img/icons/edit.png" height="20px"> Design aanpassen</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#"> <img src="../../img/icons/order.png" height="20px"> Recente bestellingen</a>
                    </li>
                    <li>
                        <a href="#"><img src="../../img/icons/archive.png" height="20px"> Bestelarchief</a>
                    </li>
                    <li>
                        <a href="/dashboard/mailinglist"><img src="../../img/icons/mail.png" height="20px"> Mailinglijst</a>
                    </li>
                    <hr>
                     <li >
                        <a href="#"><img src="../../img/icons/admins.png" height="20px"> Admins bekijken</a>
                    </li>
                    <li >
                        <a href="#"><img src="../../img/icons/admindel.png" height="20px"> Admin verwijderen</a>
                    </li>
                     <li >
                        <a href="#"><img src="../../img/icons/adminadd.png" height="20px"> Admin toevoegen</a>
                    </li>
                    <hr>
                     <li >
                        <a href="#"><img src="../../img/icons/book.png" height="20px"> Handleiding</a>
                     <li >
                        <a href="#"><img src="../../img/icons/user.png" height="20px"> Contact opnemen</a>
                    </li>
                    </li>
                     <li >
                        <a class="" href="#"><img src="../img/icons/error.png" height="20px"> Een fout melden</a>
                    </li>
                </ul>
        </ul>
        <hr>
    <h3 class="navbar-brand pl-3 mt-auto">BRAND</h3>
    </nav>
</div>