<div class="container-fluid">
    <div class="col-md-11 mx-auto" id="application-box">
        <div class="row">
            <div class="col-md-3 p-0">
                {{>sidebar}}
            </div>
            <div class="col-md-9 p-0" id="wrapper">
                {{>header}} 
                {{>list}}
            </div>
        </div>
    </div>
</div>



