<div class="container-fluid" id="success-background">
    <div class="col-md-6 mx-auto text-center" id="success-box">
            <img src="/img/icons/success.png" width="50%">
        <h3><span class="badge badge-success">Uw betaling is geslaagd!</span></h2>
        <hr>
        <h4>Details van uw bestelling</h4>
        <p>Bedrag - {{amount}} {{currency}}<br>
        <div class="d-inline">
            <a href="/user/profile" class="btn btn-outline-info">Bekijk je bestelling</a>
            <a href="/" class="btn btn-outline-secondary">Naar startpagina</a>
        </div>
    </div>
</div>